target/
parent/.project
parent/.settings 
.settings
parent/web/src/main/webapp/resumepage.html
parent/web/src/main/webapp/resumepage_files/

/Servers/

/RemoteSystemsTempFiles/
/.metadata/
.recommenders